<div class="navbar navbar-default navbar-fixed-top">
</div>

<div class="page-header"></div>

<div class="container">

  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Sign in with our Awesome Application</div>
        <div class="panel-body" align="center">
          <a class="btn btn-social btn-facebook" (click)="fbLogin()">
            <span class="fa fa-facebook"></span>  Facebook
          </a>
        </div>
      </div>
    </div>
  </div>
</div>